{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "useBuiltIns": true,
      "debug": false
    }],
    ["es2015", { "modules": false }]
  ],
  "ignore": ["node_modules"]
}
